55 808	 # [0] 0: DEF_GLOBALS;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={x,r};formalSize=0;localSize=808;" position="1"/>
38 72 0	 # [1] 0: PROC_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=16;name=Q;level=0;Pos=8;formals={a5,a6,b,c,a7,a1,a3,a4,a2};locals={};formalSize=72;localSize=0;" position="8"/>
4 56	 # [2] 17: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=24;name=b;level=1;Pos=16;type=[id="13" name="T"];size=800;offset=56;number=8;mode=VAR;copy=[];" position="19"/>
19	 # [3] 26: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="19"/>
18 10	 # [4] 27: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[10]" position="19"/>
7 8 100	 # [5] 36: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="19"/>
4 0	 # [6] 53: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=17;name=a1;level=1;Pos=9;type=[id="1" name="INTEGER"];size=8;offset=0;number=1;mode=VAL;copy=[];" position="19"/>
19	 # [7] 62: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="19"/>
4 56	 # [8] 63: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=24;name=b;level=1;Pos=16;type=[id="13" name="T"];size=800;offset=56;number=8;mode=VAR;copy=[];" position="19"/>
19	 # [9] 72: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="19"/>
18 27	 # [10] 73: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[27]" position="19"/>
7 8 100	 # [11] 82: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="19"/>
19	 # [12] 99: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="19"/>
8	 # [13] 100: PLUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="1" position="19"/>
4 64	 # [14] 101: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=25;name=c;level=1;Pos=17;type=[id="1" name="INTEGER"];size=8;offset=64;number=9;mode=VAL;copy=[];" position="19"/>
19	 # [15] 110: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="19"/>
8	 # [16] 111: PLUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="1" position="19"/>
20	 # [17] 112: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="19"/>
39 72 0	 # [18] 113: PROC_END;	 <ProcEnd symbol="ProcedureSy:id=16;name=Q;level=0;Pos=8;formals={a5,a6,b,c,a7,a1,a3,a4,a2};locals={};formalSize=72;localSize=0;" position="8"/>
1	 # [19] 130: PROG_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={x,r};formalSize=0;localSize=808;" position="1"/>
5 0	 # [20] 131: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="23"/>
18 10	 # [21] 140: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[10]" position="23"/>
7 8 100	 # [22] 149: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="23"/>
18 55	 # [23] 166: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[55]" position="23"/>
20	 # [24] 175: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="23"/>
5 0	 # [25] 176: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="24"/>
18 27	 # [26] 185: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[27]" position="24"/>
7 8 100	 # [27] 194: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="24"/>
18 99	 # [28] 211: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[99]" position="24"/>
20	 # [29] 220: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="24"/>
18 13	 # [30] 221: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[13]" position="25"/>
42	 # [31] 230: ACTUAL_i;	 
18 1	 # [32] 231: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="25"/>
42	 # [33] 240: ACTUAL_i;	 
18 1	 # [34] 241: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="25"/>
42	 # [35] 250: ACTUAL_i;	 
18 1	 # [36] 251: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="25"/>
42	 # [37] 260: ACTUAL_i;	 
18 1	 # [38] 261: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="25"/>
42	 # [39] 270: ACTUAL_i;	 
18 1	 # [40] 271: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="25"/>
42	 # [41] 280: ACTUAL_i;	 
18 1	 # [42] 281: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="25"/>
42	 # [43] 290: ACTUAL_i;	 
5 0	 # [44] 291: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="25"/>
43	 # [45] 300: ACTUAL_f;	 
18 17	 # [46] 301: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[17]" position="25"/>
42	 # [47] 310: ACTUAL_i;	 
40 -311 72	 # [48] 311: CALL;	 <ProcCall symbol="ProcedureSy:id=16;name=Q;level=0;Pos=8;formals={a5,a6,b,c,a7,a1,a3,a4,a2};locals={};formalSize=72;localSize=0;" position="25"/>
5 0	 # [49] 328: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="26"/>
18 10	 # [50] 337: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[10]" position="26"/>
7 8 100	 # [51] 346: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="26"/>
19	 # [52] 363: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="26"/>
5 0	 # [53] 364: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="26"/>
18 27	 # [54] 373: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[27]" position="26"/>
7 8 100	 # [55] 382: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="26"/>
19	 # [56] 399: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="26"/>
8	 # [57] 400: PLUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="1" position="26"/>
18 228	 # [58] 401: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[228]" position="26"/>
9	 # [59] 410: MINUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="2" position="26"/>
44	 # [60] 411: WRITE_i;	 <Write type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="26"/>
51	 # [61] 412: WRITELN;	 <WriteLn position="26"/>
2	 # [62] 413: PROG_END;	 <ProcEnd symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={x,r};formalSize=0;localSize=808;" position="1"/>
