55 808	 # [0] 0: DEF_GLOBALS;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={x,r};formalSize=0;localSize=808;" position="1"/>
38 72 0	 # [1] 0: PROC_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=16;name=R;level=0;Pos=8;formals={a5,a6,b,c,a7,a1,a3,a4,a2};locals={};formalSize=72;localSize=0;" position="8"/>
4 56	 # [2] 17: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=24;name=b;level=1;Pos=16;type=[id="13" name="T"];size=800;offset=56;number=8;mode=VAR;copy=[];" position="19"/>
19	 # [3] 26: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="19"/>
18 11	 # [4] 27: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[11]" position="19"/>
7 8 100	 # [5] 36: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="19"/>
4 56	 # [6] 53: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=24;name=b;level=1;Pos=16;type=[id="13" name="T"];size=800;offset=56;number=8;mode=VAR;copy=[];" position="19"/>
19	 # [7] 62: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="19"/>
18 10	 # [8] 63: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[10]" position="19"/>
7 8 100	 # [9] 72: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="19"/>
19	 # [10] 89: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="19"/>
4 8	 # [11] 90: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=18;name=a2;level=1;Pos=10;type=[id="1" name="INTEGER"];size=8;offset=8;number=2;mode=VAL;copy=[];" position="19"/>
19	 # [12] 99: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="19"/>
8	 # [13] 100: PLUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="1" position="19"/>
4 56	 # [14] 101: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=24;name=b;level=1;Pos=16;type=[id="13" name="T"];size=800;offset=56;number=8;mode=VAR;copy=[];" position="19"/>
19	 # [15] 110: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="19"/>
18 28	 # [16] 111: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[28]" position="19"/>
7 8 100	 # [17] 120: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="19"/>
19	 # [18] 137: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="19"/>
8	 # [19] 138: PLUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="1" position="19"/>
4 64	 # [20] 139: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=25;name=c;level=1;Pos=17;type=[id="1" name="INTEGER"];size=8;offset=64;number=9;mode=VAL;copy=[];" position="19"/>
19	 # [21] 148: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="19"/>
8	 # [22] 149: PLUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="1" position="19"/>
20	 # [23] 150: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="19"/>
39 72 0	 # [24] 151: PROC_END;	 <ProcEnd symbol="ProcedureSy:id=16;name=R;level=0;Pos=8;formals={a5,a6,b,c,a7,a1,a3,a4,a2};locals={};formalSize=72;localSize=0;" position="8"/>
38 72 0	 # [25] 168: PROC_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=26;name=Q;level=0;Pos=22;formals={a2,a4,a5,a6,b,a3,a7,a1,c};locals={};formalSize=72;localSize=0;" position="22"/>
4 56	 # [26] 185: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=34;name=b;level=1;Pos=30;type=[id="13" name="T"];size=800;offset=56;number=8;mode=VAR;copy=[];" position="33"/>
19	 # [27] 194: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="33"/>
18 10	 # [28] 195: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[10]" position="33"/>
7 8 100	 # [29] 204: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="33"/>
4 0	 # [30] 221: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=27;name=a1;level=1;Pos=23;type=[id="1" name="INTEGER"];size=8;offset=0;number=1;mode=VAL;copy=[];" position="33"/>
19	 # [31] 230: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="33"/>
4 56	 # [32] 231: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=34;name=b;level=1;Pos=30;type=[id="13" name="T"];size=800;offset=56;number=8;mode=VAR;copy=[];" position="33"/>
19	 # [33] 240: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="33"/>
18 27	 # [34] 241: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[27]" position="33"/>
7 8 100	 # [35] 250: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="33"/>
19	 # [36] 267: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="33"/>
8	 # [37] 268: PLUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="1" position="33"/>
4 64	 # [38] 269: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=35;name=c;level=1;Pos=31;type=[id="1" name="INTEGER"];size=8;offset=64;number=9;mode=VAL;copy=[];" position="33"/>
19	 # [39] 278: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="33"/>
8	 # [40] 279: PLUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="1" position="33"/>
20	 # [41] 280: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="33"/>
18 13	 # [42] 281: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[13]" position="34"/>
42	 # [43] 290: ACTUAL_i;	 
18 13	 # [44] 291: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[13]" position="34"/>
42	 # [45] 300: ACTUAL_i;	 
18 1	 # [46] 301: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="34"/>
42	 # [47] 310: ACTUAL_i;	 
18 1	 # [48] 311: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="34"/>
42	 # [49] 320: ACTUAL_i;	 
18 1	 # [50] 321: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="34"/>
42	 # [51] 330: ACTUAL_i;	 
18 1	 # [52] 331: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="34"/>
42	 # [53] 340: ACTUAL_i;	 
18 1	 # [54] 341: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="34"/>
42	 # [55] 350: ACTUAL_i;	 
5 0	 # [56] 351: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="34"/>
43	 # [57] 360: ACTUAL_f;	 
18 17	 # [58] 361: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[17]" position="34"/>
42	 # [59] 370: ACTUAL_i;	 
40 -371 72	 # [60] 371: CALL;	 <ProcCall symbol="ProcedureSy:id=16;name=R;level=0;Pos=8;formals={a5,a6,b,c,a7,a1,a3,a4,a2};locals={};formalSize=72;localSize=0;" position="34"/>
39 72 0	 # [61] 388: PROC_END;	 <ProcEnd symbol="ProcedureSy:id=26;name=Q;level=0;Pos=22;formals={a2,a4,a5,a6,b,a3,a7,a1,c};locals={};formalSize=72;localSize=0;" position="22"/>
1	 # [62] 405: PROG_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={x,r};formalSize=0;localSize=808;" position="1"/>
5 0	 # [63] 406: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="38"/>
18 10	 # [64] 415: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[10]" position="38"/>
7 8 100	 # [65] 424: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="38"/>
18 55	 # [66] 441: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[55]" position="38"/>
20	 # [67] 450: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="38"/>
5 0	 # [68] 451: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="39"/>
18 27	 # [69] 460: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[27]" position="39"/>
7 8 100	 # [70] 469: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="39"/>
18 99	 # [71] 486: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[99]" position="39"/>
20	 # [72] 495: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="39"/>
5 0	 # [73] 496: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="40"/>
18 28	 # [74] 505: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[28]" position="40"/>
7 8 100	 # [75] 514: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="40"/>
18 31	 # [76] 531: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[31]" position="40"/>
20	 # [77] 540: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="40"/>
18 13	 # [78] 541: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[13]" position="41"/>
42	 # [79] 550: ACTUAL_i;	 
18 1	 # [80] 551: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="41"/>
42	 # [81] 560: ACTUAL_i;	 
18 1	 # [82] 561: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="41"/>
42	 # [83] 570: ACTUAL_i;	 
18 1	 # [84] 571: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="41"/>
42	 # [85] 580: ACTUAL_i;	 
18 1	 # [86] 581: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="41"/>
42	 # [87] 590: ACTUAL_i;	 
18 1	 # [88] 591: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="41"/>
42	 # [89] 600: ACTUAL_i;	 
18 1	 # [90] 601: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[1]" position="41"/>
42	 # [91] 610: ACTUAL_i;	 
5 0	 # [92] 611: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="41"/>
43	 # [93] 620: ACTUAL_f;	 
18 17	 # [94] 621: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[17]" position="41"/>
42	 # [95] 630: ACTUAL_i;	 
40 -463 72	 # [96] 631: CALL;	 <ProcCall symbol="ProcedureSy:id=26;name=Q;level=0;Pos=22;formals={a2,a4,a5,a6,b,a3,a7,a1,c};locals={};formalSize=72;localSize=0;" position="41"/>
5 0	 # [97] 648: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="42"/>
18 10	 # [98] 657: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[10]" position="42"/>
7 8 100	 # [99] 666: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="42"/>
19	 # [100] 683: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="42"/>
5 0	 # [101] 684: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="42"/>
18 27	 # [102] 693: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[27]" position="42"/>
7 8 100	 # [103] 702: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="42"/>
19	 # [104] 719: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="42"/>
8	 # [105] 720: PLUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="1" position="42"/>
5 0	 # [106] 721: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="42"/>
18 11	 # [107] 730: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[11]" position="42"/>
7 8 100	 # [108] 739: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="42"/>
19	 # [109] 756: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="42"/>
8	 # [110] 757: PLUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="1" position="42"/>
18 418	 # [111] 758: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[418]" position="42"/>
9	 # [112] 767: MINUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="2" position="42"/>
44	 # [113] 768: WRITE_i;	 <Write type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="42"/>
51	 # [114] 769: WRITELN;	 <WriteLn position="42"/>
2	 # [115] 770: PROG_END;	 <ProcEnd symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={x,r};formalSize=0;localSize=808;" position="1"/>
