55 808	 # [0] 0: DEF_GLOBALS;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={x,r};formalSize=0;localSize=808;" position="1"/>
38 24 0	 # [1] 0: PROC_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=16;name=Q;level=0;Pos=8;formals={a,b,c};locals={};formalSize=24;localSize=0;" position="8"/>
4 8	 # [2] 17: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=18;name=b;level=1;Pos=10;type=[id="13" name="T"];size=800;offset=8;number=2;mode=VAR;copy=[];" position="13"/>
19	 # [3] 26: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="13"/>
18 10	 # [4] 27: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[10]" position="13"/>
7 8 100	 # [5] 36: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="13"/>
4 0	 # [6] 53: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=17;name=a;level=1;Pos=9;type=[id="1" name="INTEGER"];size=8;offset=0;number=1;mode=VAL;copy=[];" position="13"/>
19	 # [7] 62: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="13"/>
4 8	 # [8] 63: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=18;name=b;level=1;Pos=10;type=[id="13" name="T"];size=800;offset=8;number=2;mode=VAR;copy=[];" position="13"/>
19	 # [9] 72: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="13"/>
18 27	 # [10] 73: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[27]" position="13"/>
7 8 100	 # [11] 82: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="13"/>
19	 # [12] 99: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="13"/>
8	 # [13] 100: PLUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="1" position="13"/>
4 16	 # [14] 101: PUSHADDR_formal;	 <AddressOf symbol="FormalSy:id=19;name=c;level=1;Pos=11;type=[id="1" name="INTEGER"];size=8;offset=16;number=3;mode=VAL;copy=[];" position="13"/>
19	 # [15] 110: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="13"/>
8	 # [16] 111: PLUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="1" position="13"/>
20	 # [17] 112: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="13"/>
39 24 0	 # [18] 113: PROC_END;	 <ProcEnd symbol="ProcedureSy:id=16;name=Q;level=0;Pos=8;formals={a,b,c};locals={};formalSize=24;localSize=0;" position="8"/>
1	 # [19] 130: PROG_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={x,r};formalSize=0;localSize=808;" position="1"/>
5 0	 # [20] 131: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="17"/>
18 10	 # [21] 140: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[10]" position="17"/>
7 8 100	 # [22] 149: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="17"/>
18 55	 # [23] 166: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[55]" position="17"/>
20	 # [24] 175: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="17"/>
5 0	 # [25] 176: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="18"/>
18 27	 # [26] 185: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[27]" position="18"/>
7 8 100	 # [27] 194: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="18"/>
18 99	 # [28] 211: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[99]" position="18"/>
20	 # [29] 220: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="18"/>
18 13	 # [30] 221: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[13]" position="19"/>
42	 # [31] 230: ACTUAL_i;	 
5 0	 # [32] 231: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="19"/>
43	 # [33] 240: ACTUAL_f;	 
18 17	 # [34] 241: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[17]" position="19"/>
42	 # [35] 250: ACTUAL_i;	 
40 -251 24	 # [36] 251: CALL;	 <ProcCall symbol="ProcedureSy:id=16;name=Q;level=0;Pos=8;formals={a,b,c};locals={};formalSize=24;localSize=0;" position="19"/>
5 0	 # [37] 268: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="20"/>
18 10	 # [38] 277: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[10]" position="20"/>
7 8 100	 # [39] 286: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="20"/>
19	 # [40] 303: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="20"/>
5 0	 # [41] 304: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=r;level=0;Pos=5;type=[id="13" name="T"];size=800;offset=0;" position="20"/>
18 27	 # [42] 313: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[27]" position="20"/>
7 8 100	 # [43] 322: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=T;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="20"/>
19	 # [44] 339: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="20"/>
8	 # [45] 340: PLUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="1" position="20"/>
18 228	 # [46] 341: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[228]" position="20"/>
9	 # [47] 350: MINUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="2" position="20"/>
44	 # [48] 351: WRITE_i;	 <Write type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="20"/>
51	 # [49] 352: WRITELN;	 <WriteLn position="20"/>
2	 # [50] 353: PROG_END;	 <ProcEnd symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={x,r};formalSize=0;localSize=808;" position="1"/>
