55 1	 # [0] 0: DEF_GLOBALS;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={C};formalSize=0;localSize=1;" position="1"/>
1	 # [1] 0: PROG_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={C};formalSize=0;localSize=1;" position="1"/>
5 0	 # [2] 1: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=13;name=C;level=0;Pos=2;type=[id="3" name="CHAR"];size=1;offset=0;" position="4"/>
18 48	 # [3] 10: PUSHCONST_i;	 <LoadLit type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" value="CharValue[0]" position="4"/>
20	 # [4] 19: STORE_i;	 <Store type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" position="4"/>
5 0	 # [5] 20: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=13;name=C;level=0;Pos=2;type=[id="3" name="CHAR"];size=1;offset=0;" position="5"/>
19	 # [6] 29: LOAD_i;	 <Load type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" position="5"/>
46	 # [7] 30: WRITE_c;	 <Write type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" position="5"/>
51	 # [8] 31: WRITELN;	 <WriteLn position="6"/>
2	 # [9] 32: PROG_END;	 <ProcEnd symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={C};formalSize=0;localSize=1;" position="1"/>
