55 24	 # [0] 0: DEF_GLOBALS;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={I,K,J};formalSize=0;localSize=24;" position="1"/>
1	 # [1] 0: PROG_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={I,K,J};formalSize=0;localSize=24;" position="1"/>
5 8	 # [2] 1: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=J;level=0;Pos=4;type=[id="1" name="INTEGER"];size=8;offset=8;" position="7"/>
48	 # [3] 10: READ_i;	 <Read type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="7"/>
5 16	 # [4] 11: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=15;name=K;level=0;Pos=5;type=[id="1" name="INTEGER"];size=8;offset=16;" position="8"/>
48	 # [5] 20: READ_i;	 <Read type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="8"/>
5 8	 # [6] 21: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=J;level=0;Pos=4;type=[id="1" name="INTEGER"];size=8;offset=8;" position="9"/>
19	 # [7] 30: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="9"/>
5 16	 # [8] 31: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=15;name=K;level=0;Pos=5;type=[id="1" name="INTEGER"];size=8;offset=16;" position="9"/>
19	 # [9] 40: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="9"/>
8	 # [10] 41: PLUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="1" position="9"/>
18 100	 # [11] 42: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[100]" position="9"/>
9	 # [12] 51: MINUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="2" position="9"/>
44	 # [13] 52: WRITE_i;	 <Write type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="9"/>
51	 # [14] 53: WRITELN;	 <WriteLn position="9"/>
2	 # [15] 54: PROG_END;	 <ProcEnd symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={I,K,J};formalSize=0;localSize=24;" position="1"/>
