55 1	 # [0] 0: DEF_GLOBALS;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={C};formalSize=0;localSize=1;" position="1"/>
1	 # [1] 0: PROG_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={C};formalSize=0;localSize=1;" position="1"/>
5 0	 # [2] 1: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=13;name=C;level=0;Pos=2;type=[id="3" name="CHAR"];size=1;offset=0;" position="4"/>
18 88	 # [3] 10: PUSHCONST_i;	 <LoadLit type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" value="CharValue[X]" position="4"/>
20	 # [4] 19: STORE_i;	 <Store type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" position="4"/>
5 0	 # [5] 20: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=13;name=C;level=0;Pos=2;type=[id="3" name="CHAR"];size=1;offset=0;" position="5"/>
50	 # [6] 29: READ_c;	 <Read type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" position="5"/>
5 0	 # [7] 30: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=13;name=C;level=0;Pos=2;type=[id="3" name="CHAR"];size=1;offset=0;" position="6"/>
19	 # [8] 39: LOAD_i;	 <Load type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" position="6"/>
18 88	 # [9] 40: PUSHCONST_i;	 <LoadLit type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" value="CharValue[X]" position="6"/>
12 18	 # [10] 49: EQ_i;	 <Branch type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" op="19" label="24" position="6"/>
41 28	 # [11] 58: JUMP;	 <Goto label="25" position="6"/>
18 99	 # [12] 67: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[99]" position="7"/>
44	 # [13] 76: WRITE_i;	 <Write type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="7"/>
41 19	 # [14] 77: JUMP;	 <Goto label="18" position="6"/>
18 0	 # [15] 86: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[0]" position="9"/>
44	 # [16] 95: WRITE_i;	 <Write type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="9"/>
2	 # [17] 96: PROG_END;	 <ProcEnd symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={C};formalSize=0;localSize=1;" position="1"/>
