55 80008	 # [0] 0: DEF_GLOBALS;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={i,x};formalSize=0;localSize=80008;" position="1"/>
1	 # [1] 0: PROG_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={i,x};formalSize=0;localSize=80008;" position="1"/>
5 80000	 # [2] 1: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=16;name=i;level=0;Pos=7;type=[id="1" name="INTEGER"];size=8;offset=80000;" position="9"/>
18 50	 # [3] 10: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[50]" position="9"/>
20	 # [4] 19: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="9"/>
5 0	 # [5] 20: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=15;name=x;level=0;Pos=6;type=[id="14" name="B"];size=80000;offset=0;" position="10"/>
18 5	 # [6] 29: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[5]" position="10"/>
7 800 100	 # [7] 38: INDEX;	 <IndexOf type="ArrayType:id=13;name=A;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" array="ArrayType:id=14;name=B;level=0;Pos=4;size=80000;elementType=[id="13" name="A"];count=100;" position="10"/>
5 80000	 # [8] 55: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=16;name=i;level=0;Pos=7;type=[id="1" name="INTEGER"];size=8;offset=80000;" position="10"/>
19	 # [9] 64: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="10"/>
18 51	 # [10] 65: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[51]" position="10"/>
8	 # [11] 74: PLUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="1" position="10"/>
7 8 100	 # [12] 75: INDEX;	 <IndexOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" array="ArrayType:id=13;name=A;level=0;Pos=3;size=800;elementType=[id="1" name="INTEGER"];count=100;" position="10"/>
18 45	 # [13] 92: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[45]" position="10"/>
20	 # [14] 101: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="10"/>
18 9999	 # [15] 102: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[9999]" position="11"/>
44	 # [16] 111: WRITE_i;	 <Write type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="11"/>
51	 # [17] 112: WRITELN;	 <WriteLn position="11"/>
2	 # [18] 113: PROG_END;	 <ProcEnd symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={i,x};formalSize=0;localSize=80008;" position="1"/>
