55 16	 # [0] 0: DEF_GLOBALS;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={I,J};formalSize=0;localSize=16;" position="1"/>
1	 # [1] 0: PROG_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={I,J};formalSize=0;localSize=16;" position="1"/>
5 0	 # [2] 1: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=13;name=I;level=0;Pos=3;type=[id="2" name="REAL"];size=8;offset=0;" position="6"/>
32 10.0	 # [3] 10: PUSHCONST_f;	 <LoadLit type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" value="RealValue[10.0]" position="6"/>
32 24.0	 # [4] 19: PUSHCONST_f;	 <LoadLit type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" value="RealValue[24.0]" position="6"/>
23	 # [5] 28: MINUS_f;	 <BinExpr type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" op="2" position="6"/>
32 14.0	 # [6] 29: PUSHCONST_f;	 <LoadLit type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" value="RealValue[14.0]" position="6"/>
22	 # [7] 38: PLUS_f;	 <BinExpr type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" op="1" position="6"/>
34	 # [8] 39: STORE_f;	 <Store type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="6"/>
5 8	 # [9] 40: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=J;level=0;Pos=4;type=[id="2" name="REAL"];size=8;offset=8;" position="7"/>
32 5.0	 # [10] 49: PUSHCONST_f;	 <LoadLit type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" value="RealValue[5.0]" position="7"/>
32 10.0	 # [11] 58: PUSHCONST_f;	 <LoadLit type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" value="RealValue[10.0]" position="7"/>
24	 # [12] 67: MULT_f;	 <BinExpr type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" op="3" position="7"/>
32 2.0	 # [13] 68: PUSHCONST_f;	 <LoadLit type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" value="RealValue[2.0]" position="7"/>
25	 # [14] 77: DIV_f;	 <BinExpr type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" op="4" position="7"/>
32 25.0	 # [15] 78: PUSHCONST_f;	 <LoadLit type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" value="RealValue[25.0]" position="7"/>
23	 # [16] 87: MINUS_f;	 <BinExpr type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" op="2" position="7"/>
34	 # [17] 88: STORE_f;	 <Store type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="7"/>
5 0	 # [18] 89: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=13;name=I;level=0;Pos=3;type=[id="2" name="REAL"];size=8;offset=0;" position="8"/>
33	 # [19] 98: LOAD_f;	 <Load type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="8"/>
5 8	 # [20] 99: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=J;level=0;Pos=4;type=[id="2" name="REAL"];size=8;offset=8;" position="8"/>
33	 # [21] 108: LOAD_f;	 <Load type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="8"/>
22	 # [22] 109: PLUS_f;	 <BinExpr type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" op="1" position="8"/>
45	 # [23] 110: WRITE_f;	 <Write type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="8"/>
51	 # [24] 111: WRITELN;	 <WriteLn position="8"/>
2	 # [25] 112: PROG_END;	 <ProcEnd symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={I,J};formalSize=0;localSize=16;" position="1"/>
