55 32	 # [0] 0: DEF_GLOBALS;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={s,u,t,i};formalSize=0;localSize=32;" position="1"/>
1	 # [1] 0: PROG_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={s,u,t,i};formalSize=0;localSize=32;" position="1"/>
5 0	 # [2] 1: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=13;name=s;level=0;Pos=3;type=[id="2" name="REAL"];size=8;offset=0;" position="8"/>
32 500.2	 # [3] 10: PUSHCONST_f;	 <LoadLit type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" value="RealValue[500.2]" position="8"/>
34	 # [4] 19: STORE_f;	 <Store type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="8"/>
5 24	 # [5] 20: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=16;name=i;level=0;Pos=6;type=[id="1" name="INTEGER"];size=8;offset=24;" position="9"/>
18 314	 # [6] 29: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[314]" position="9"/>
18 815	 # [7] 38: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[815]" position="9"/>
37	 # [8] 47: FLOAT;	 <UnaryExpr type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" op="34" position="9"/>
5 0	 # [9] 48: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=13;name=s;level=0;Pos=3;type=[id="2" name="REAL"];size=8;offset=0;" position="9"/>
33	 # [10] 57: LOAD_f;	 <Load type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="9"/>
23	 # [11] 58: MINUS_f;	 <BinExpr type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" op="2" position="9"/>
36	 # [12] 59: TRUNC;	 <UnaryExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="33" position="9"/>
9	 # [13] 60: MINUS_i;	 <BinExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="2" position="9"/>
20	 # [14] 61: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="9"/>
5 24	 # [15] 62: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=16;name=i;level=0;Pos=6;type=[id="1" name="INTEGER"];size=8;offset=24;" position="10"/>
19	 # [16] 71: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="10"/>
44	 # [17] 72: WRITE_i;	 <Write type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="10"/>
51	 # [18] 73: WRITELN;	 <WriteLn position="10"/>
2	 # [19] 74: PROG_END;	 <ProcEnd symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={s,u,t,i};formalSize=0;localSize=32;" position="1"/>
