55 16	 # [0] 0: DEF_GLOBALS;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={s,t};formalSize=0;localSize=16;" position="1"/>
1	 # [1] 0: PROG_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={s,t};formalSize=0;localSize=16;" position="1"/>
5 0	 # [2] 1: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=13;name=s;level=0;Pos=3;type=[id="2" name="REAL"];size=8;offset=0;" position="6"/>
32 3.14	 # [3] 10: PUSHCONST_f;	 <LoadLit type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" value="RealValue[3.14]" position="6"/>
34	 # [4] 19: STORE_f;	 <Store type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="6"/>
5 8	 # [5] 20: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=t;level=0;Pos=4;type=[id="2" name="REAL"];size=8;offset=8;" position="7"/>
32 3.14	 # [6] 29: PUSHCONST_f;	 <LoadLit type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" value="RealValue[3.14]" position="7"/>
5 0	 # [7] 38: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=13;name=s;level=0;Pos=3;type=[id="2" name="REAL"];size=8;offset=0;" position="7"/>
33	 # [8] 47: LOAD_f;	 <Load type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="7"/>
23	 # [9] 48: MINUS_f;	 <BinExpr type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" op="2" position="7"/>
34	 # [10] 49: STORE_f;	 <Store type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="7"/>
5 8	 # [11] 50: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=t;level=0;Pos=4;type=[id="2" name="REAL"];size=8;offset=8;" position="8"/>
33	 # [12] 59: LOAD_f;	 <Load type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="8"/>
45	 # [13] 60: WRITE_f;	 <Write type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="8"/>
51	 # [14] 61: WRITELN;	 <WriteLn position="8"/>
2	 # [15] 62: PROG_END;	 <ProcEnd symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={s,t};formalSize=0;localSize=16;" position="1"/>
