55 32	 # [0] 0: DEF_GLOBALS;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={t,i,u,s};formalSize=0;localSize=32;" position="1"/>
1	 # [1] 0: PROG_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={t,i,u,s};formalSize=0;localSize=32;" position="1"/>
5 24	 # [2] 1: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=16;name=i;level=0;Pos=6;type=[id="1" name="INTEGER"];size=8;offset=24;" position="8"/>
32 314159.25	 # [3] 10: PUSHCONST_f;	 <LoadLit type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" value="RealValue[314159.25]" position="8"/>
36	 # [4] 19: TRUNC;	 <UnaryExpr type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" op="33" position="8"/>
20	 # [5] 20: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="8"/>
5 8	 # [6] 21: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=t;level=0;Pos=4;type=[id="2" name="REAL"];size=8;offset=8;" position="9"/>
5 24	 # [7] 30: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=16;name=i;level=0;Pos=6;type=[id="1" name="INTEGER"];size=8;offset=24;" position="9"/>
19	 # [8] 39: LOAD_i;	 <Load type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="9"/>
37	 # [9] 40: FLOAT;	 <UnaryExpr type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" op="34" position="9"/>
34	 # [10] 41: STORE_f;	 <Store type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="9"/>
5 16	 # [11] 42: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=15;name=u;level=0;Pos=5;type=[id="2" name="REAL"];size=8;offset=16;" position="10"/>
32 314159.0	 # [12] 51: PUSHCONST_f;	 <LoadLit type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" value="RealValue[314159.0]" position="10"/>
5 8	 # [13] 60: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=14;name=t;level=0;Pos=4;type=[id="2" name="REAL"];size=8;offset=8;" position="10"/>
33	 # [14] 69: LOAD_f;	 <Load type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="10"/>
23	 # [15] 70: MINUS_f;	 <BinExpr type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" op="2" position="10"/>
34	 # [16] 71: STORE_f;	 <Store type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="10"/>
5 16	 # [17] 72: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=15;name=u;level=0;Pos=5;type=[id="2" name="REAL"];size=8;offset=16;" position="11"/>
33	 # [18] 81: LOAD_f;	 <Load type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="11"/>
45	 # [19] 82: WRITE_f;	 <Write type="BasicType:id=2;name=REAL;level=0;Pos=0;size=8;" position="11"/>
51	 # [20] 83: WRITELN;	 <WriteLn position="11"/>
2	 # [21] 84: PROG_END;	 <ProcEnd symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={t,i,u,s};formalSize=0;localSize=32;" position="1"/>
