55 24	 # [0] 0: DEF_GLOBALS;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={x,i};formalSize=0;localSize=24;" position="1"/>
1	 # [1] 0: PROG_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={x,i};formalSize=0;localSize=24;" position="1"/>
5 0	 # [2] 1: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=16;name=x;level=0;Pos=5;type=[id="13" name="R"];size=9;offset=0;" position="8"/>
6 8	 # [3] 10: FIELD;	 <FieldOf type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" field="FieldSy:id=15;name=b;level=0;Pos=3;type=[id="3" name="CHAR"];size=1;offset=8;parent=[id="13" name="R"];" record="RecordType:id=13;name=R;level=0;Pos=3;size=9;fields={a,b};size=9;" position="8"/>
18 48	 # [4] 19: PUSHCONST_i;	 <LoadLit type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" value="CharValue[0]" position="8"/>
20	 # [5] 28: STORE_i;	 <Store type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" position="8"/>
5 0	 # [6] 29: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=16;name=x;level=0;Pos=5;type=[id="13" name="R"];size=9;offset=0;" position="9"/>
6 0	 # [7] 38: FIELD;	 <FieldOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" field="FieldSy:id=14;name=a;level=0;Pos=3;type=[id="1" name="INTEGER"];size=8;offset=0;parent=[id="13" name="R"];" record="RecordType:id=13;name=R;level=0;Pos=3;size=9;fields={a,b};size=9;" position="9"/>
18 256724346	 # [8] 47: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[256724346]" position="9"/>
20	 # [9] 56: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="9"/>
5 0	 # [10] 57: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=16;name=x;level=0;Pos=5;type=[id="13" name="R"];size=9;offset=0;" position="10"/>
6 8	 # [11] 66: FIELD;	 <FieldOf type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" field="FieldSy:id=15;name=b;level=0;Pos=3;type=[id="3" name="CHAR"];size=1;offset=8;parent=[id="13" name="R"];" record="RecordType:id=13;name=R;level=0;Pos=3;size=9;fields={a,b};size=9;" position="10"/>
19	 # [12] 75: LOAD_i;	 <Load type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" position="10"/>
46	 # [13] 76: WRITE_c;	 <Write type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" position="10"/>
51	 # [14] 77: WRITELN;	 <WriteLn position="10"/>
2	 # [15] 78: PROG_END;	 <ProcEnd symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={x,i};formalSize=0;localSize=24;" position="1"/>
