55 32	 # [0] 0: DEF_GLOBALS;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={i,x};formalSize=0;localSize=32;" position="1"/>
1	 # [1] 0: PROG_BEGIN;	 <ProcBegin symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={i,x};formalSize=0;localSize=32;" position="1"/>
5 0	 # [2] 1: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=19;name=x;level=0;Pos=6;type=[id="16" name="S"];size=24;offset=0;" position="9"/>
6 0	 # [3] 10: FIELD;	 <FieldOf type="RecordType:id=13;name=R;level=0;Pos=3;size=16;fields={b,a};size=16;" field="FieldSy:id=17;name=b;level=0;Pos=4;type=[id="13" name="R"];size=16;offset=0;parent=[id="16" name="S"];" record="RecordType:id=16;name=S;level=0;Pos=4;size=24;fields={b,a};size=24;" position="9"/>
6 0	 # [4] 19: FIELD;	 <FieldOf type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" field="FieldSy:id=14;name=b;level=0;Pos=3;type=[id="3" name="CHAR"];size=1;offset=0;parent=[id="13" name="R"];" record="RecordType:id=13;name=R;level=0;Pos=3;size=16;fields={b,a};size=16;" position="9"/>
18 48	 # [5] 28: PUSHCONST_i;	 <LoadLit type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" value="CharValue[0]" position="9"/>
20	 # [6] 37: STORE_i;	 <Store type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" position="9"/>
5 0	 # [7] 38: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=19;name=x;level=0;Pos=6;type=[id="16" name="S"];size=24;offset=0;" position="10"/>
6 16	 # [8] 47: FIELD;	 <FieldOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" field="FieldSy:id=18;name=a;level=0;Pos=4;type=[id="1" name="INTEGER"];size=8;offset=16;parent=[id="16" name="S"];" record="RecordType:id=16;name=S;level=0;Pos=4;size=24;fields={b,a};size=24;" position="10"/>
18 256723434	 # [9] 56: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[256723434]" position="10"/>
20	 # [10] 65: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="10"/>
5 0	 # [11] 66: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=19;name=x;level=0;Pos=6;type=[id="16" name="S"];size=24;offset=0;" position="11"/>
6 0	 # [12] 75: FIELD;	 <FieldOf type="RecordType:id=13;name=R;level=0;Pos=3;size=16;fields={b,a};size=16;" field="FieldSy:id=17;name=b;level=0;Pos=4;type=[id="13" name="R"];size=16;offset=0;parent=[id="16" name="S"];" record="RecordType:id=16;name=S;level=0;Pos=4;size=24;fields={b,a};size=24;" position="11"/>
6 8	 # [13] 84: FIELD;	 <FieldOf type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" field="FieldSy:id=15;name=a;level=0;Pos=3;type=[id="1" name="INTEGER"];size=8;offset=8;parent=[id="13" name="R"];" record="RecordType:id=13;name=R;level=0;Pos=3;size=16;fields={b,a};size=16;" position="11"/>
18 256723446	 # [14] 93: PUSHCONST_i;	 <LoadLit type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" value="IntValue[256723446]" position="11"/>
20	 # [15] 102: STORE_i;	 <Store type="BasicType:id=1;name=INTEGER;level=0;Pos=0;size=8;" position="11"/>
5 0	 # [16] 103: PUSHADDR_global;	 <AddressOf symbol="VariableSy:id=19;name=x;level=0;Pos=6;type=[id="16" name="S"];size=24;offset=0;" position="12"/>
6 0	 # [17] 112: FIELD;	 <FieldOf type="RecordType:id=13;name=R;level=0;Pos=3;size=16;fields={b,a};size=16;" field="FieldSy:id=17;name=b;level=0;Pos=4;type=[id="13" name="R"];size=16;offset=0;parent=[id="16" name="S"];" record="RecordType:id=16;name=S;level=0;Pos=4;size=24;fields={b,a};size=24;" position="12"/>
6 0	 # [18] 121: FIELD;	 <FieldOf type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" field="FieldSy:id=14;name=b;level=0;Pos=3;type=[id="3" name="CHAR"];size=1;offset=0;parent=[id="13" name="R"];" record="RecordType:id=13;name=R;level=0;Pos=3;size=16;fields={b,a};size=16;" position="12"/>
19	 # [19] 130: LOAD_i;	 <Load type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" position="12"/>
46	 # [20] 131: WRITE_c;	 <Write type="BasicType:id=3;name=CHAR;level=0;Pos=0;size=1;" position="12"/>
51	 # [21] 132: WRITELN;	 <WriteLn position="12"/>
2	 # [22] 133: PROG_END;	 <ProcEnd symbol="ProcedureSy:id=0;name=$MAIN;level=0;Pos=1;formals={};locals={i,x};formalSize=0;localSize=32;" position="1"/>
